<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Naruto H5 | Gift code</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script th:src="@{/js/ctxd.js}"></script>
</head>
<body>
<div class="container">
    <!-- Header menu -->
    <div class="bs-example" th:fragment="header">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <a th:href="@{/index}" class="navbar-brand">Shine</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse"
                    data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav">
                    <a th:href="@{/index}" class="nav-item nav-link active">Home</a>
                    <a th:href="@{/charge}" class="nav-item nav-link">Nạp thẻ</a>
                    <a th:href="@{/buy-package}" class="nav-item nav-link">Mua gói</a>
                    <a th:href="@{/gift-code}" class="nav-item nav-link">Gift Code</a>
                    <a th:href="@{/contact}" class="nav-item nav-link">Liên Hệ</a>
                </div>
                <div class="navbar-nav ml-auto">
                    <div class="nav-item nav-link header-name"></div>
                    <a th:href="@{/log-out}" class="nav-item nav-link">Thoát</a>
                </div>
            </div>
        </nav>
    </div>
    <!-- End Header menu -->
    <hr/>
    <h3>Nạp tiền vào hệ thống:</h3>

    <form>
        <div class="form-group">
            <label for="serverId">Chọn server:</label>
            <select class="form-control" id="serverId">
                <option value="0">--</option>
                <option th:each="item: ${servers}" th:value="${item.id}" th:utext="|${item.nameServer}|"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="playerName">Tài khoản game: </label>
            <input type="text" class="form-control" id="playerName" aria-describedby="playerName"
                   placeholder="Nhập tài khoản trong game" required>
        </div>
        <div class="form-group">
            <label for="giftCode">Gift Code: </label>
            <input type="text" class="form-control" id="giftCode" aria-describedby="giftCode"
                   placeholder="Nhập gift code" required>
        </div>
        <button type="button" class="btn btn-primary" id="getCode">Lấy quà</button>
    </form>

    <hr/>
    <h3>Danh sách code có sẵn:</h3>
    <!-- Table charge -->
    <table id="list-code" class="table table-striped table-bordered"
           style="width: 100%">
        <thead>
        <tr>
            <th>#</th>
            <th>Code</th>
            <th>Nội dung</th>
            <th>Khả dụng</th>
        </tr>
        </thead>
        <tbody id="table-code">
        <tr>
            <td>1</td>
            <td>XXXXXAAAA</td>
            <td>Code thưởng 20-10</td>
            <td>Khả dụng</td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#list-code').DataTable();
    });

</script>
</body>
</html>